#header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-link img {
    height: 28px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Tablet query */
@media screen and (min-width: 479px) {
    #header {
        margin-top: 16px;
        margin-bottom: 10px;
    }

    .header-link img {
        height: 34px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* Desktop query */
@media screen and (min-width: 767px) {
    #header {
        margin-top: 22px;
        margin-bottom: 10px;
    }

    .header-link img {
        height: 38px;
        padding-left: 20px;
        padding-right: 20px;
    }
}