/* FONTS */
/*font-family: 'Monda', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Nunito', sans-serif;*/
/*font-family: 'Istok Web', sans-serif;*/
/*font-family: 'Quantico', sans-serif;*/


/* Some globals */
body {
    margin: 0;
    text-align: center;
    color: #ffffdf;
    /*color: #74ffc2;*/
    /*color: #ffdb80;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Monda', sans-serif;
    min-height: 100vh;

    /* Background gradient: */
    /*background-image: radial-gradient(circle at top, #0C4642 -50%, #36BFB6 100%);*/

    /* Rectangle: */
    background-image: radial-gradient(circle at bottom, #37D660 -20%, #030A05 100%);

}

#main-container {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

#main-section {
    background: url("../static/sliced_react_logo_opacity_new.png") no-repeat center;
    background-size: contain;
}


a:link, a:hover, a:active, a:visited {
    /*color: #ffffdf;*/
    /*text-decoration: none;*/
}


/* Default style is mobile first */
/* Header */
header {
    padding: 8px 8px;
}

header img {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Title */
#title-container {
    /*padding: 5px;*/
    margin: 10px;
    line-height: 60px;
    font-size: 22px;
}

#title-container h1 {
    margin: 6px;

    /*padding-top: 6px;*/
}


/* Countdown */
#countdown-container {
    font-size: 32px;
    font-weight: normal;
    border: 4px solid #ffffdf;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    padding: 5px 18px;
}


/* Date/location info */
#date-location-info-container {
    margin: 10px;
    /*padding: 6px 6px;*/
    font-size: 22px;
    font-weight: bold;
}


/*  Description */
.description {
    /*padding: 6px 6px;*/
    margin: 10px;
    /*font-family: Helvetica;*/
    /*font-size: 20px;*/
}

.description p {
    /*margin-top: 0.3em;*/
    /*margin-bottom: 0.3em;*/
}

#description-short-container {
    /*padding: 10px 10px;*/
    font-size: 20px;
}

#description-short-container p {
    /*margin: 0.6em 0.6em;*/
}

#description-long-container {
    font-size: 16px;
    /*padding: 10px 10px;*/
    /*font-size: 14px;*/
}

#description-long-container p {
    margin: 0.6em 0.6em;
}


/* Time table */
#time-table ul {
    display: inline-block;
    text-align: left;
}


/* 'Tell me more' button */
#call-to-action-container,
#back {
    margin: 10px;
    /*font-weight: bold;*/
}

#call-to-action-container a,
#back a {
    display: inline-block;
    padding: 10px;
    background-color: #22863D;
    border-radius: 3px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
}

a:link, a:hover, a:active, a:visited {
    /*color: #ffffdf;*/
    text-decoration: none;
    /*color: #74ffc2;*/
    color: #ffdb80;
}


/* Sponsors */
#sponsors-container {
    padding: 10px 10px;
}

#sponsors-container img {
    padding: 10px;
    /*padding-right: 8px;*/
    height: 24px;
}