/* Some globals */
body {
    margin: 0;
    text-align: center;
    color: #ffffdf;
    /*color: #74ffc2;*/
    /*color: #ffdb80;*/
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;

    /* Background gradient: */
    background-image: radial-gradient(circle at top, #0C4642 -50%, #36BFB6 100%);
}

#main-container {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

#main-section {
    background: url("../static/sliced_react_logo_opacity.png") no-repeat center;
    background-size: contain;
}


a:link, a:hover, a:active, a:visited {
    /*color: #ffffdf;*/
    /*text-decoration: none;*/
}


/* Default style is mobile first */
/* Header */
header {
    padding: 8px 8px;
}

header img {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Title */
#title-container {
    padding: 20px 20px;
    line-height: 60px;
    font-size: 45px;
    font-family: "Helvetica Neue";
    /*font-weight: bold;*/
}

/*#title-react-logo {*/
    /*width: 50px;*/
    /*vertical-align:middle*/
/*}*/


/* Countdown */
#countdown-container {
    font-size: 36px;
    font-family: Courier;
    font-weight: normal;
    border: 2px dashed #ffffdf;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 8px;
}


/* Date/location info */
#date-location-info-container {
    padding: 20px 10px;
    font-size: 22px;
    font-weight: bold;
}


/*  Description */
.description {
    padding: 10px 30px;
    font-family: Helvetica;
    /*font-size: 20px;*/
}

.description p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#description-short-container {
    /*padding: 10px 10px;*/
    font-size: 20px;
}

#description-short-container p {
    /*margin: 0.6em 0.6em;*/
}

#description-long-container {
    font-size: 16px;
    /*padding: 10px 10px;*/
    /*font-size: 14px;*/
}

#description-long-container p {
    margin: 0.6em 0.6em;
}


/* Time table */
#time-table ul {
    display: inline-block;
    text-align: left;
}


/* 'Tell me more' button */
#call-to-action-container,
#back {
    margin: 20px 20px;
    /*font-weight: bold;*/
}

#call-to-action-container a,
#back a {
    padding: 10px;
    background-color: #36BFB6;
    border-radius: 3px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
}

a:link, a:hover, a:active, a:visited {
    /*color: #ffffdf;*/
    text-decoration: none;
    /*color: #74ffc2;*/
    color: #ffdb80;
}


/* Sponsors */
#sponsors-container {
    padding: 10px 10px;
}

#sponsors-container img {
    padding: 10px;
    /*padding-right: 8px;*/
    height: 24px;
}