/* Mobile first */
body {
  margin: 0;
  text-align: center;
  color: #ffffdf;
  font-family: 'Monda', sans-serif;
  min-height: 100vh;

  /* Background gradient: */
  background-image: radial-gradient(circle at bottom, #37D660 -20%, #030A05 100%);
}

#app-container {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}